pandas
numpy
matplotlib
seaborn 
dill
dnspython
fastapi
httptools
imblearn
mypy-boto3-s3
pip-chill
pymongo
python-dotenv
pyyaml
sklearn
types-s3transfer
uvicorn
watchfiles
websockets
wincertstore
xgboost
-e .